h3 {
    margin: auto;
    background: linear-gradient(to bottom, #8DC6F1, #BFB5EA);
    text-align: center;
    width: 500px;
    border-radius: 3px;
    padding: 15px;
}

.form-edit {
    background: linear-gradient(to bottom, #8DC6F1, #BFB5EA);
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.inp {
    width: 400px;
}

.div-lab {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.btn-div {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-update {
    background-color: #6EBF00;
    margin-left: 50px;
}

label {
    width: 150px;
    font-size: 25px;
}
