
.tb[b-fl5kjngn7y] {
    background: linear-gradient(to bottom, #8DC6F1, #BFB5EA);
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    width:900px;
}

    .tb th[b-fl5kjngn7y], td[b-fl5kjngn7y] {
        text-align: center;
        border: 3px solid #fff; /* Bordes grises */
        color: #000000;
        padding-left: 10px;
        padding-right: 10px;
    }

    .tb th[b-fl5kjngn7y] {
        border: 3px solid #fff; /* Bordes grises */
        padding: 12px;
    }

.btn-edit[b-fl5kjngn7y] {
    background-color: greenyellow;
}

.btn-details[b-fl5kjngn7y] {
    background-color: #00BF26;
}

.btn-delete[b-fl5kjngn7y] {
    background-color: #F84848;
}

.btn-create[b-fl5kjngn7y] {
    background-color: #6EBF00;
    margin-left: 120px;
}

h3[b-fl5kjngn7y] {
    margin: auto;
    background: linear-gradient(to bottom, #8DC6F1, #BFB5EA);
    text-align: center;
    width: 400px;
    border-radius: 3px;
}
